<!DOCTYPE html>
<html>
<body>
{% extends "base.html" %}
{% block content %}

<h3>Create Admin</h3>

<form method="POST" class="col-md-6">
    <input class="form-control mb-2" name="username" placeholder="Username">
    <input class="form-control mb-2" name="password" type="password" placeholder="Password">
    <button class="btn btn-dark">Create Admin</button>
</form>

{% endblock %}

<a href="/dashboard">Back</a>
<div class="mt-3">
    <a href="/dashboard" class="btn btn-secondary">
        🏠 Dashboard
    </a>
</div>
</body>
</html>